/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#introDevelopersPane {
	-fx-background-color: black;
}

#mainMenuPane {
	-fx-background-image: url('../assets/mainMenuBG.png');
	-fx-background-size: cover;
}

#mainMenuTitle {
	-fx-text-fill: white;
	-fx-font-family: "Bauhaus 93";
	-fx-alignment: center;
}

.mainMenuButtons {
	-fx-alignment: center;
	-fx-text-fill: #8FBC8B;
	-fx-font-family: "Lucida Console";
	-fx-font-size: 25;
	-fx-text-alignment: center;
	-fx-background-color: white;
	-fx-padding: 0 12px 0 12px;
	-fx-border-radius: 1px;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-color: #8FBC8B;
}